<p>Hello there!</p>
<p>The current exchange rate of {{ firstCurrencyName }} {{ firstCurrencySymbol}} to the {{ secondCurrencyName }} {{secondCurrencySymbol}} is {{ uah }} {{secondCurrencySymbol}} </p>